// variables
$text-black: #2f3135d9;
// $text-black: #4a5568d9;
$text-gray: #acafb4d9;
$text-white: #ffffff;
$link: #667ea3;
// Theme
$primary: #363ab5;
$primary-light: #565ac2;
$black: #4a5568d9;
$white: #ffffff;
// $primary-dark: #9065ba; // secondary
// $primary-light: #f5edfc;
// $yellow: #f4f471;

a {
  color: $link;
}