// variables
$text-black: #4a5568d9;
$text-white: #ffffff;
$link: #667ea3;
// Theme
$primary: #579aff;
$black: #4a5568d9;
$white: #ffffff;
// $primary-dark: #9065ba; // secondary
// $primary-light: #f5edfc;
// $yellow: #f4f471;

a {
  color: $link;
}